.header{
  width: 100%;
}
.fisrt_header{
  background-color: #ad180d;
  height: 45px;
}

.login{
  cursor: pointer;
  text-transform: none;
  height: 36px;
  min-width: 64px;
  padding: 0 16px;
  border-radius: 10px;
  transition: all .2s;
}

.login:hover{
  background-color: rgb(185 24 13);
}

.second_header{
  height: 111px;
  background-color: rgb(218 42 28);
}


.logo{
  height: 80px;
  cursor: pointer;
}


.search_input input{
  border: none;
  outline: none;
  height: 45px;
  width: 330px;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}

.search_icon{
  height: 46px;
  width: 47px;
  background: #404f5a;
}

.search_icon i{
  font-size: 25px;
  color: #fff;
}

.search_text{
  border-bottom: 1px solid #fff;
}

.about{
  height: 100%;
}

.about_ofPage,.about_ofUser{
  height: 100%;
  min-width: 64px;
  font-weight: 700;
  text-transform: none;
  font-size: 17px;
  letter-spacing: 0.1rem;
}

.about_ofPage{
  border-left: 0.0625rem solid #ff8076;
}

.about_ofPage span:hover{
  border-bottom: 2px solid #fff;
}

.about_ofUser{
  background-color: rgb(255, 196, 118);
  border-color: rgb(255, 196, 118);
}

.about_ofUser span:hover{
  border-bottom: 2px solid #404f5a;
}

/* ----------------------------------------------------------- */
.fisrt_main{
  height: 60px;
  background-color: #4c4b4a;
}

.net{
  background-color: #2a2525!important;
  height: 60px;
  border-right: 1px solid #4c4b4a;
}

.material-symbols-outlined{
  font-size: 26px;
}

.text{
  font-weight: 500;
  font-size: 18px !important;
}

.board{
  border-right: 1px solid #4c4b4a;
  background-color: #565554;
}

.Sidebar{
  border-right: 1px solid #c9c9c9;
}

.type_title{
  font-size: 18px;
}

.type_title span{
  font-size: 18px;
  color:#fff !important;
  background-color: rgb(83, 83, 83);
  border-radius: 20px;
}

.break_line{
  height: 2px;
  width: 100%;
  background-color: #c9c9c9;
  margin: 4px 0;
}

.option_type{
  cursor: pointer;
}

.Sidebar_items b{
  font-size: 23px;
}

.Sidebar_items{
  border-bottom: 1px solid #c9c9c9;
  cursor: pointer;
}

.Sidebar_items_click{
  cursor: pointer;
}

.Sidebar_items_click b{
  font-size: 23px;
}

.check_option{
  cursor: pointer;
}

.check_option b{
  font-size: 18px;
}

.products_items{
  cursor: pointer;
}

.border_OfProduct{
  max-width: 550px;
  box-shadow: 0 0.0625rem 0.0625rem 0 rgba(134,77,0,.25);
  border: 0.0625rem solid #d6d6d6;
  border-radius: 4px;
}

.border_OfProduct:hover{
  border: 0.0625rem solid #464646;
}

.img_bag{
  height: 256px;
  overflow: hidden;
  max-width: 100%;
  background-color: #e0e0e0!important;
  border-color: #e0e0e0!important;
}

.img_ofProduct{
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.classification{
  font-size: 14px;
}

.name{
  font-size: 18px;
}

.label_ofProduct{
  font-size: 36px;
  color: rgb(208, 213, 214);
  caret-color: rgb(208, 213, 214);
}

.products_OfContent{
  height: 180px;
}

.products_OfContent_other{
  height: 180px;
  max-width: 550px;
  box-shadow: 0 0.0625rem 0.0625rem 0 rgba(134,77,0,.25);
  border: 0.0625rem solid #d6d6d6;
  border-radius: 4px;
}

.more span{
  font-size: 18px;
  border-bottom: 1px solid black;
  cursor: pointer;
}

.more span:hover{
  border-bottom: 2px solid black;
}

.third_main_content{
  background-color: #f7f7f7;
}

.third_main_content p{
  font-weight: 500;
}

.related{
  background-color: #fff;
}

.related_items{
  height: 8.875em;
  width: 20%;
  padding-top: 15px;
  padding-bottom: 15px;
}

.related_items img{
  border: 0;
  height: auto;
  min-height: 1em;
  max-width: 100%;
  max-height: 8em;
}

.related_items_last{
  height: 8.875em;
  padding-top: 15px;
  padding-bottom: 15px;
}

.related_items_last img{
  border: 0;
  height: auto;
  min-height: 1em;
  max-width: 100%;
  max-height: 8em;
}

/* ----------------------------------------------------------- */

.footer_first{
  background: rgb(173, 24, 13);
  width: 100%;
  color: white;
}

.information_instructions,.text_document,.support{
  border-left: 1px solid rgb(195, 83, 71);
}

.second_footer{
  background: #7b1b0e;
}

/* ----------------------------------------------------------- */

.login_header{
  position: fixed;
  top: 0;
  left: 0;
  height: 88px;
  width: 100%;
  background: #da2a1c;
}

.header_content{
  font-size: 22px;
}

.containerAll{
  min-height: 100%;
  height: 100%;
  width: 100%;
}

.borderAll{
  overflow: hidden;
  position: relative;
  height: 100vh;
}

form{
  width: 100%;
  height: 100%;
  background-position: bottom;
  background-size: 100% cover;
  background-repeat: no-repeat;
  
}

.login_form{
  max-width: 450px;
  width: 350px;
}

.login_container{
  background-color: white;
  border-radius: 25px;
  box-shadow: rgba(253, 178, 206, 0.47) 0px 2px 20px;
}

.logo_login img{
  height: 120px;
}

.login_input{
  border: 1px solid #eceff5;
  border-radius: inherit;
  height: 50px;
}

.login_input input{
  height: 28px;
  border: none;
  outline: none;
  border-radius: 0;
}

.button_login{
  background-color: red;
  border: none;
  border-radius: 50px ;
  outline: none;
}